/vendor
/node_modules
/.idea
/.fleet
/.vscode
/coverage
tests/.phpunit.cache
tests/phpunit.xml
/build
/tests/build
tests/.phpunit.result.cache
npm-debug.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.DS_Store
**/*/.DS_Store
tools/phpstan/build
resources/dist/hot

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
