:root {
    /*
     * Layout Variables.
     */

    --radius: 0.5rem;

    /* Toolbar Heights */
    --toolbar-height: 40px;
    --sub-toolbar-height: 34px;

    /* Panel Content Padding */
    --panel-padding: calc(var(--spacing) * 2);

    /* Additional Layout Variables */
    --header-height: 60px;
    --sidebar-width: 280px;
    --sidebar-collapsed-width: 60px;
}
