@import 'tailwindcss';
@import './variables/theme.css';
@import './variables/layout.css';
@import './vendor.css';

@config "../../tools/tailwind/tailwind.config.js";

@layer base {
    body {
        overscroll-behavior: none;
        background: var(--color-background);
        color: var(--color-foreground);
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-border);
    }

    button,
    [role='button'] {
        cursor: pointer;
    }

    button:disabled,
    [role='button']:disabled {
        cursor: default;
    }
}

@layer utilities {
    /*
     * Height utilities.
     */

    .h-toolbar {
        min-height: var(--toolbar-height);
        max-height: var(--toolbar-height);
    }

    .h-sub-toolbar {
        min-height: var(--sub-toolbar-height);
        max-height: var(--sub-toolbar-height);
    }

    /*
     * Panel content padding utilities.
     */

    .p-panel {
        padding: var(--panel-padding);
    }

    .px-panel {
        padding-inline: var(--panel-padding);
    }

    .pl-panel {
        padding-left: var(--panel-padding);
    }

    .pr-panel {
        padding-right: var(--panel-padding);
    }

    .no-scrollbar {
        @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
    }
}
